<%= render partial: 'shared/menu' %>

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for @absence_period do |f| %>
            <%= f.input :startdate, :as => :datetime_picker, label: "Start date", :required => false %> 
            <%= f.input :enddate, :as => :datetime_picker, label: "End date", :required => false %>
            <div class="form-group btn-group pull-right" role="group" aria-label="...">
                <%= link_to "Cancel", :back, :class => "btn btn-danger" %>
                <%= f.button :submit, "Create absence period", class: "btn-success" %>
            </div>
        <% end %>
    </div>
</div>