<%= render partial: 'shared/menu' %>

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <h4>Absence period</h4>
        <p>You configured a period of absence from <%= @period.startdate.strftime("%D") %> to <%= @period.enddate.strftime("%D") %></p>
        <%= link_to "Back", absence_periods_path, :class => "btn btn-danger" %>
        <%= link_to 'Edit', edit_absence_period_path(@period), :class => "btn btn-primary" %>
    </div>
</div>